body{
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.leftbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
}
.rightbox{
    width: 400px;
}

.image{
    width: 100px;
    height: 160px;
    object-fit: cover;
    border-radius: 9px;
    margin-right: 10px;
}

.listitem{
    display: flex;
    margin: 10px 0px;
}