body{
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    /* background-color: #FFE69A; */
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.leftbox{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 800px;
    margin-right:90px;
    overflow-y: auto;
}

.selected{
    background-color: #2155CD;
    color: white;
}

.rightbox{
    width: min-content;
    height: min-content;
}

.image{
    width: 100px;
    height: 160px;
    object-fit: cover;
    border-radius: 9px;
    margin-right: 10px;
}

.listitem{
    display: flex;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 10px;
}

.imageContainer{
    justify-content: center;
    align-items: center;
}

.imageTitle{
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

[alt='right-image'] {
    width: 30vw;
    height: 60vh;
    object-fit: cover;
}

.updateButton{
    width: 170px;
    height: 50px;
    background-color: #FF5D5D;
    color: white;
    border-style: none;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 20px;
}

.updateButton:hover{
    background-color: #FF8C8C;
}

.textBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: min-content;
}

#popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    justify-content: center;
    align-items: center;
}

#popup.active{
    transform: translate(-50%, -50%) scale(1);
}

.popup_header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.popup_title{
    font-size: 1.25rem;
    font-weight: bold;
}

.popup_close_button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.popup_body{
    padding: 50px;
}

#popup-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textInput{
    width: 200px;
    height: 50px;
    font-size: large;
}

.submitButton{
    width: 100px;
    height: 50px;
    background-color: #36AE7C;
    color: white;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}
.submitButton:hover{
    background-color: #112B3C;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}